/* Responsive Màn hình máy tính desktop kích thước nhỏ nhất 1200px */
@media (min-width: 991px) {
  body {
    min-width: 1200px;
  }

  p {
    margin: 0 !important;
    line-height: 1.6rem;
  }

  /* BANNER */
  #banner {
    border-bottom: 4px solid #333;
    background: url(../images/banner.jpg) top center/cover no-repeat;
  }
  .banner-title {
    width: 1200px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .banner-title > h1 {
    font-size: 6rem;
  }
  .banner-title > span {
    font-size: 3rem;
  }

  /*NAV AVATAR */
  .nav-img {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .nav-img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    border: 2px solid #333;
  }

  /* ABOUT */
  #about > .container {
    justify-content: space-around;
  }
  #target {
    width: 40%;
    padding: 0 40px;
  }
  #personal-info {
    width: 40%;
    padding: 0 40px;
  }
  /* PROJECT */
  .prj-img {
    height: 300px;
    width: 430px;
  }
}
